*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.content{
    max-width: 1500px;
    margin:auto;
}
.swiper-container{
    height:28vh;
}
.swiper-pagination-bullet{
    background:white;
    opacity: 0.5;
}
.swiper-pagination-bullet-active{
    background:dodgerblue;
    opacity: 1;
}